body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

h1 {
    color: rgb(230, 25, 110);
}

p {
    padding-bottom: 10px;
}

section {
    height: 500px;
    padding-bottom: 150px;
}

.top-area {
    background-image: url("personal-website/header-bg.png");
    background-repeat: no-repeat;
}

.half-width {
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 3%;
}

.half-width img {
    width: 100%;
    margin-right: 5%;
    padding-top: 2%;
    padding-right: 3%;
}

.img-height {
    height: 500px;
}

.img-pos {
    padding-top: 5%;
}

.pos {
    padding-top: 15%;
}

.button-style {
    text-decoration: none;
    background-color: rgb(230, 25, 110);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

.bio-area {
    background-image: url(personal-website/biography-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.pos2 {
    padding-top: 5%;
}

.latest-work-area {
    background-image: url(personal-website/latest-work-bg.png);
    background-repeat: no-repeat;
}

.work-area {
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 3%;
    padding-right: 3%;
    float: left;
}

.img-width {
    padding-top: 75px;
    width: 33%;
}

.contact-area {
    margin: 0px;
    background-image: url("personal-website/footer-bg.png");
}

.pos3 {
    padding-top: 75px;
    text-align: center;
}

#name {
    text-align: center;
}

#position {
    font-size: 60%;
    color: gray;
    text-align: center;
}

#para {
    text-align: center;
}

#small-font {
    font-size: 60%;
}

.contact-info {
    text-align: center;
    margin-left: 35%;
    margin-right: 35%;
    background-image:linear-gradient(45deg, pink,  rgb(230, 25, 110));
    padding-top: 5px;
    border-radius: 10px;
}

#foot {
    text-align: center;
    font-size: 25%;
}